#P2N {
  color: rgb(3, 94, 56);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
#ysn {
  color: rgb(11, 43, 44);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#ysn3 {
  color: rgb(44, 12, 73);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#ysn4 {
  color: rgb(95, 81, 25);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
body {
  background-image: url("8.jpg");
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #9102bd;
}
#wa {
  color: #333;
}
#yasne {
  color: #9102bd;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
